@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', cursive;
    --fonte-padrao: 'Sriracha', cursive;
}

* {
    padding: 0;
    margin: 0;
}

body {

   height: 100vh;
   background-attachment: fixed;
   
}

header {
    background-color: black;
    color: white;
    text-align: center;
    min-width: 250px;
    
}
header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 80px;
    padding: 40px 0px 5px 0px;
}
header > p {
    font-size: 24px;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
header > p > a {
    text-decoration: none;
    font-family: var(--fonte-titulo);
    color: white;
}
header > p > a:hover {
    text-decoration: underline;
}

main {
   min-width: 350px;

}

main p {
    font-size: 33px;
    font-family: var(--fonte-padrao);
    width: 400px;
    margin: 50px;
    padding: 5px;
    
}

section {
    padding: 100px;
}

.joaninha {
    background-image: url(../imagens/background001.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.joaninha > p {
    color: white;
    background-color: rgba(121, 121, 121, 0.425);
    transform: translate(0%, 50%);
   
}

.papel {
    background-image: url(../imagens/background002.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: left center;
}

.papel > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    transform: translate(0%, 50%);
}

footer {
    background-color: black;
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
}